@import './base.css';
@import './theme/theme.css';

html{
  overflow-y: auto !important;
  height: 100vh;
  min-height: 838px;
  min-width: 424px;
  background: linear-gradient($primary, $secondary);
}

html::-webkit-scrollbar-track {
  background-color: rgba($secondary, 0.5);
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
  background: rgba($primary, 0.5);
  border-radius: 4px;
}

body{
  overflow: auto;
}

.terms-checkbox .v-selection-control{
  min-height: 40px;
}
@keyframes bodyBg {
  from  {
    background: $primary;

  }
  to {
    background: $secondary;
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex: 1;
}


@media (hover: hover) {

}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {

  }
}
